/* container */
.add-container {
    width: 600px;
    height: 500px;
    background: #d6d6d6;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    bottom: 180%;
}

.add-container.show {
    display: block;
    z-index: 9999999;
}

/* header */
.top-head {
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    color: #fff;
    position: relative;
}

.top-head span {
    font-size: 16px;
    font-weight: 700;
}

.top-head i {
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    right: 20px;
}

/* main area */
.main-sms {
    width: 100%;
    height: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background-color: rgba(103, 106, 108, 0.25); */
    border: 1px solid silver;
}

.warraper {
    height: 100%;
    margin: 20px;
    border: 1px solid rgb(252, 249, 249);
    padding: 12px;
}

.main-sms select {
    border: unset;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}

.main-sms textarea {
    width: 100%;
    height: 75%;
    padding: 12px;
    resize: none;
    border: 1px solid #ccc;
}


/* footer */
.add_btn {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 15px;
    background-color: rgba(103, 106, 108, 0.25);
    border-top: 1px solid #fff;
}

.add_btn button {
    padding: 6px 18px;
    border: 1px solid #999;
    background: #f2f2f2;
    cursor: pointer;
    border-radius: 8px;
}

.add_btn button:hover {
    background: #e0e0e0;
}



@media screen and (max-width:768px) {
    .add-container {
        width: 350px;
        /* left: -50%; */
    }
}