.footer {
    width: 100%;
    padding: 10px;
    background: var(--background);
}

.icon-row {
    position: relative;
    /* width: 100%; */
}

.icon-row ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.icon-row a {
    text-decoration: none;
}

.icon-row li {
    height: 55px;
    width: 55px;
    border-radius: 50%;

}

.icon-row li img {
    width: 100%;
    height: 100%;
}

.home {
    position: absolute;
    left: 0;
}

.zoom {
    transform: scale(1.5);
}

.gthome {
    position: absolute;
    display: none;
    width: 100px;
    padding: 0 10px;
    background-color: grey;
    border-radius: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (max-width:768px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .icon-row {
        align-items: flex-end;
        width: 85%;
        /* padding-right: unset; */
    }

    .home {
        left: -40px;
    }
}