:root {
    --background: #ff5d02;
    --background-white: rgba(255, 255, 255, 2);
    --background-black: rgba(0, 0, 0, 2);
    --background-sky: rgba(131, 239, 247, 1.0);
    --anticwhite: antiquewhite;
    --black: rgba(0, 0, 0, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
}

input {
    all: unset;
}

a{
    text-decoration: none;
    color: var(--anticwhite);
}

.show {
    display: block;
}

.hide {
    display: none;
}

button {
    all: unset;
}