.thumb-parent{
    position: absolute;
    left: 50%;
    transform: translateX(-75%);
    width: 100vw;
    padding: 50px;
    display: none;
    background: rgba(0,0,0,.46);
    overflow-x: auto;
    z-index: 99999;
    bottom: 300%;
    column-gap: 10px;
}


.thumb-parent.show{
    display: flex;
}
.thumb-parent::-webkit-scrollbar{
    display: none;
}

.thumb-slide{
    min-width: 120px ;
    height: 150px;

}

.thumb-slide img{
    width: 100%;
    height: 100%;
}

#thumb-close{
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
}